{% extends 'base.html.twig' %}

{% block title %}{{ film.name }}{% endblock %}

{% block body %}
<body class="body">

	<section class="after-head d-flex section-text-white position-relative">
		<div class="d-background" data-image-src="http://via.placeholder.com/1920x1080" data-parallax="scroll"></div>
		<div class="d-background bg-black-80"></div>
		<div class="top-block top-inner container">
			<div class="top-block-content">
				<h1 class="section-title">Movies info</h1>

			</div>
		</div>
	</section>
	<div class="container">
		<div class="sidebar-container">
			<div class="content">
				<section class="section-long">
					<div class="section-line">
						<div class="movie-info-entity">
							<div class="entity-poster" >
								<div class="embed-responsive embed-responsive-poster">
								{% if film.image %}
									<img class="embed-responsive-item" src="{{ asset('upload/images/film/' ~ film.image) }}" alt=""/>
								{% else %}
									<img class="embed-responsive-item" src="http://via.placeholder.com/340x510" alt="{{film.name}}"/>
								{% endif %}
								</div>
								<div class="d-over bg-theme-lighted collapse animated faster" data-show-class="fadeIn show" data-hide-class="fadeOut show">
								{% if film.bandeAnnonce %}
									<div class="entity-play">
										<a class="action-icon-theme action-icon-bordered rounded-circle" href="{{film.bandeAnnonce}}" data-magnific-popup="iframe">
											<span class="icon-content">
												<i class="fas fa-play"></i>
											</span>
										</a>
									</div>
								{% else %}
									<span>Pas de bande annonce disponible</span>
								{% endif %}
								</div>
							</div>
							<div class="entity-content">
								<h2 class="entity-title"> {{ film.name }} </h2>
								<div class="entity-category">
								</div>
								<div class="entity-info">
									<div class="info-lines">
										<div class="info info-short">
											<span class="text-theme info-icon">
												<i class="fas fa-star"></i>
											</span>
											<span class="info-text">8,7</span>
											<span class="info-rest">/10</span>
										</div>
										<div class="info info-short">
											<span class="text-theme info-icon">
												<i class="fas fa-clock"></i>
											</span>
											<span class="info-text">{{film.duree}} </span>
											<span class="info-rest">&nbsp;min</span>
										</div>
									</div>
								</div>
								<ul class="entity-list">
									<li>
										<span class="entity-list-title">Directed:</span>
										<a class="content-link" href="#">{{film.realisateur}}</a>,
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="section-line">
						<div class="section-head">
							<h2 class="section-title text-uppercase">Synopsis</h2>
						</div>
						<div class="section-description">
						{{ film.resume }}
						</div>
						<div class="section-bottom">
							<div class="row">
								<div class="mr-auto col-auto">

								</div>
								<div class="col-auto">
									<div class="entity-links">
										<div class="entity-list-title">Tags:</div>
									{% for category in film.category %}
										<a class="content-link" href="movies-blocks.html">{{ category.name }}</a>
										{% if not loop.last %}
											-
										{% endif %}
									{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="section-line">
						<div class="section-head">
							<h2 class="section-title text-uppercase">Comments</h2>
						</div>
						{# <div class="comment-entity">
							<div class="entity-inner">
								<div class="entity-content">
									<h4 class="entity-title">Lie Stone</h4>
									<p class="entity-subtext">07.08.2018, 14:33</p>
									<p class="entity-text">Comment example here. Nulla risus lacus, vehicula id mi
										                                        vitae, auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa adipiscing
										                                        interdum.
									</p>
								</div>
								<div class="entity-extra">
									<div class="grid-md row">
										<div class="col-12 col-sm-auto">
											<div class="entity-rating">
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon text-theme">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="entity-rating-icon">
													<i class="fas fa-star"></i>
												</span>
											</div>
										</div>
										<div class="ml-sm-auto col-auto">
											<a class="content-link" href="#">
												<i class="fas fa-reply"></i>&nbsp;&nbsp;reply</a>
										</div>
										<div class="col-auto">
											<a class="content-link" href="#">
												<i class="fas fa-quote-left"></i>&nbsp;&nbsp;quote</a>
										</div>
									</div>
								</div>
							</div>
							<div class="comment-entity">
								<div class="entity-inner">
									<div class="entity-content">
										<h4 class="entity-title">Gabriel Norris</h4>
										<p class="entity-subtext">09.08.2018, 11:33</p>
										<p class="entity-text">Comment example here. Nulla risus lacus, vehicula id mi
											                                            vitae, auctor accumsan nulla. Sed a mi quam. In euismod urna ac massa
											                                            adipiscing interdum.
										</p>
									</div>
									<div class="entity-extra">
										<div class="grid-md row">
											<div class="ml-sm-auto col-auto">
												<a class="content-link" href="#">
													<i class="fas fa-reply"></i>&nbsp;&nbsp;reply</a>
											</div>
											<div class="col-auto">
												<a class="content-link" href="#">
													<i class="fas fa-quote-left"></i>&nbsp;&nbsp;quote</a>
											</div>
										</div>
									</div>
								</div> #}                                
							{# </div>
						</div> #}
                    {% if film.commentaires %}
                        <p class="entity-text" style="color: blue; margin-left: 25px;">{{ film.commentaires }}</p>
                    {% endif %}
					</div>
					<div class="section-line">
						<div class="section-head">
							<h2 class="section-title text-uppercase">Add comment</h2>
						</div>
						<form autocomplete="off">
							<div class="row form-grid">
								<div class="col-12 col-sm-6">
									<div class="input-view-flat input-group">
										<input class="form-control" name="name" type="text" placeholder="Name"/>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="input-view-flat input-group">
										<input class="form-control" name="email" type="email" placeholder="Email"/>
									</div>
								</div>
								<div class="col-12">
									<div class="input-view-flat input-group">
										<textarea class="form-control" name="review" placeholder="Add your review"></textarea>
									</div>
								</div>
								<div class="col-12">
									<div class="rating-line">
										<label>Rating:</label>
										<div class="form-rating" name="rating">
											<input type="radio" id="rating-10" name="rating" value="10"/>
											<label for="rating-10">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-9" name="rating" value="9"/>
											<label for="rating-9">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-8" name="rating" value="8"/>
											<label for="rating-8">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-7" name="rating" value="7"/>
											<label for="rating-7">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-6" name="rating" value="6"/>
											<label for="rating-6">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-5" name="rating" value="5"/>
											<label for="rating-5">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-4" name="rating" value="4"/>
											<label for="rating-4">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-3" name="rating" value="3"/>
											<label for="rating-3">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-2" name="rating" value="2"/>
											<label for="rating-2">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
											<input type="radio" id="rating-1" name="rating" value="1"/>
											<label for="rating-1">
												<span class="rating-active-icon">
													<i class="fas fa-star"></i>
												</span>
												<span class="rating-icon">
													<i class="far fa-star"></i>
												</span>
											</label>
										</div>
									</div>
								</div>
								<div class="col-12">
									<button class="px-5 btn btn-theme" type="submit">Send</button>
								</div>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	<a class="scroll-top disabled" href="#">
		<i class="fas fa-angle-up" aria-hidden="true"></i>
	</a>
</body>

{% endblock %}
